# Database
*.sqlite3
/db_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
*.so

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Testing and Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
docker/postgres_data/